/* Estilos generales */
body {
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    text-align: center; /* Centrar el texto */
    font-family: Arial, Helvetica, sans-serif; /* Fuente del texto */
}

.contenido {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos del formulario */
form {
    background-color: #f7f7f7; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos de los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 30%; /* Ancho del campo de entrada */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
}

/* Estilos del botón de registro */
input[type="submit"] {
    background-color: #3498db; /* Fondo azul */
    color: #fff; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9; /* Color de fondo al pasar el cursor */
}

/* Estilos del mensaje de resultado */
#resultado {
    text-align: center;
    color: red;
}

/* Estilos para el encabezado h1 */
h1 {
    color: #333; /* Texto gris oscuro */
    font-size: 28px; /* Tamaño de fuente */
    text-align: center; /* Centrar el texto */
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    margin-top: 5%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 57, 57);
}

    