/* GENERAL Y CONTENEDORES */

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

/* HEADER */
.main-header {
    position: fixed;
    top: 0; 
    display: flex;
    background-color: white;
    color: black;
    height: 15vh;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.main-header > img {
    height: 80%;
    padding-left: 10.25vw;
    width: 7%;
    /* border-right: 1px solid black; */
}

.conInfo{
    display: flex;
    position: absolute;
    right: 3vw;
    justify-content: space-around;
    align-items: flex-end;
    width: 10%;
    height: 95%;
}

/* MENÚ DE NAVEGACIÓN IZQUIERDA */

.main-menu {
    position: fixed; /* Hace que el menú sea fijo */
    top: 15vh; /* Alinea el menú justo debajo del header fijo */
    background-color: white;
    color: white;
    width: 20.15vw;
    height: calc(100vh - 15vh); /* Toma el 100% del alto de la ventana menos la altura del header */
    overflow: auto;
    justify-content: flex-start;
    border-right: 1px solid gray;
    border-top: 1px solid gray; 
  
}

.main-menu ul {
    list-style: none;
    padding: 0;
}

.main-menu ul li {
    margin: 1vw 0vw;
    padding: 1vw;
}

.main-menu ul a li {
    text-decoration: none;
    color: black;
}

.main-menu ul li:hover {
    background-color: #9BC2DD;
    transition: background-color 0.5s ease;
}



/* MAIN INFO */

.main-content{
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 700vh;
}

.main-info{
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

/* MAIN CARDS */

.card {
    background-color: whitesmoke;
    max-width: 93.5%;
    height: auto;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px black;
    margin: 1.5vw;
}

.card-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.card-title::before{
  content: url(../../Imagenes/Icon/info3.png);
  margin-right: 0.5vw;
}

.hr-divider {
    border: 0;
    border-top: 0.15vw solid #e0e0e0;
    margin: 1vw 0;
}

.main-info {
    margin-top: 15vh;
    margin-left: 20vw;
    padding: 2vh 2vw;
    width: 80%;
}

#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
}

.divImagenAlumno{
    display: flex;
    justify-content: center;
    max-width: 20vw;
    max-height: 30vh;
    border: 1px solid black;
    box-shadow: 0.05vw 0.05vw 0.1vw black;
    margin-right: 1vw;
    border-radius: 90%; 
    overflow: hidden;
 
}

.divImagenAlumno .imagenAlumno{
    height: 80%;
    width: 80%;
}

.cardInfo{
    width: 100%;
}

.cardContent{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}

#botonEditar{
    margin-top: 1vh;
    text-align: center;
    height: 5vh;
    width: 5vw;
}

/* Agrega estos estilos para manejar el estado minimizado de la tarjeta */
.card-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 0;
}

.arrow {
  margin-right: 0.5vw;
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave para la flecha */
  z-index: 0;
}


.minimized {
  display: none;
  z-index: 0;
}

/* Agrega estilos para la transición de la flecha */
.card-header .arrow {
  transition: transform 0.3s ease-in-out;
}






/* FOOTER */

.footer{
    display: flex;
    width: 100%;
    height: 50vh;
    background: red;
}

footer{
    margin-left: 20vw;
    padding: 2vh 2vw;

}

/* TABLA */

table {
    width: 100%;
    border-collapse: collapse;

}

th, td {
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

th {
    background-color: lightgrey;
    font-weight: bold;
    color: #333;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: lightblue; 
}





/* FORMULARIO */
form {
    padding: 1vw;
    border-radius: 1.5vw;
    max-width: 35vw;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos para los botones */
  button {
    margin-left: 3%;
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #0056b3;
  }
  

  input[type="submit"] {
    background-color: rgb(73, 73, 180); 
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 0 rgb(58, 58, 151); 
    transition: all 0.3s ease;
  }
  
  input[type="submit"]:active {
    transform: translateY(4px); 
    box-shadow: 0 0 0 #2838c6;
  }

  table form{
    color: #fff;
    border: none;
    border-radius: 5px;
   
  }
  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  select option {
    background-color: #fff;
    color: #333;
  }
  
  select option:checked {
    background-color: #0056b3;
    color: #fff;
  }

  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(73, 73, 180);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
  }
    

/* BREADCRUMBS */

.breadcrumbs {
  background-color: #f5f5f5;
  max-width: 93.5%;
  padding: 20px;
  margin: 1.5vw;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative; /* Necesario para posicionar el desplegable correctamente */
  cursor: pointer;
}

.breadcrumbs h1 {
  margin: 0;
  font-size: 1.5rem;
}

.breadcrumbs span {
  color: #3498db;
  font-weight: bold;
}

.breadcrumbs::before {
  content: "🡢";
  margin: 0 10px;
  font-size: 1.2rem;
  color: #95a5a6; /* Color gris claro */
}

.breadcrumb-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 2;
}

.breadcrumb-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.breadcrumb-dropdown li {
  padding: 10px;
}

.breadcrumb-dropdown a {
  text-decoration: none;
  color: #333;
  display: block;
}

.breadcrumb-dropdown a:hover {
  background-color: #f0f0f0;
}

  
/* Añade este estilo para el estado abierto */
.breadcrumbs.open::before {
  content: "🡣";
}