img{
    max-width: 10%;
    margin-right: 20px;
}

h1{
    color: lightblue;
    padding-left: 30px;
}


.flex{
    display: flex;
    align-items: center;
}

.div1 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div1 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div2 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div2 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.div3 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div3 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div4 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div4 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div5 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div5 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}


.div6 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div6 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div7 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div7 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.div8 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div8 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

