img{
    width: 10%;
    height: 2%;
}

.div2{
    border-top: solid 1px;
}
.div3{
    border-top: solid 1px;
}
.div4{
    border-top: solid 1px;
}
.div5{
    border-top: solid 1px;
}
.div6{
    border-top: solid 1px;

}
.div7{
    border-top: solid 1px;
}
.div8{
    border-top: solid 1px;
}
