img{
    width: 10%;
    height: 2%;
}

.div2{
    border-top: solid 1px;
    
}
.div3 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div3 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div3 p:first-child{
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.div4 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div4 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div4 p:first-child:after {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.div5 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.div5 p {
    margin: 0;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.div5 p:first-child:after {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
.div6{
    border-top: solid 1px;
    
}
.div7{
    border-top: solid 1px;
}
.div8{
    border-top: solid 1px;
}
