*{
    padding:0;
    margin:0;
}



.union{
    padding-right: 50px;
    padding-top: 30px;
    height: 30%;
}


/* HEADER */
.main-header {
    position: fixed;
    top: 0; 
    justify-content: space-between;
    display: flex;
    background-color: #0074cc;
    color: black;
    height: 10vh;
    width: 95.7%;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    z-index: 3;
}

.main-header > img {
    max-width: 100px;
    height: auto;
}

/* .conInfo{
    display: flex;
    position: absolute;
    right: 3vw;
    justify-content: space-around;
    align-items: flex-end;
    width: 10%;
    height: 95%;
} */

.conInfo p{
    color: white;
}
