button {
    color: black;   
    background-color: white;
}

.FlexContainer {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: column-reverse;
}

.FlexContainer div {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.FlexContainer div a {
    display: block;
    position: relative;
}

.FlexContainer div a img {
    width: 40%;
    max-width: 100%;
    transition: opacity 0.3s ease; /* Añadir transición para un cambio suave de opacidad */
}

.FlexContainer div a:hover img {
    opacity: 0.7; /* Cambiar la opacidad al pasar el mouse */
}
